/*Tudo*/
html {
  height: 100%;
  width: 100%;
}

.tudo {
  padding: 0px;
}

/*Fim tudo*/

/*Header*/

#foto2 {
    margin-left: 10%;
}

.foto {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

#foto2 {
    margin-left: 28%;
}

#foto2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#botlogo {
    margin-right: 15%;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
}

.logincerto {
    align-content: center;
}

.botos {
    background-color: #93d0ff83;
    border-radius: 40px;
    border-color: #ffffff;
    height: 50px;
    width: 120px;
    font-family: Mate SC;
    color: #ffffff;
    font-size: larger;
    margin-bottom: 10%;
    margin-left: 5px;
}

.botos:hover {
    background-color: #93D1FF;
    box-shadow: 5px 2px #4b93ca;
    transform: scale(1.1);
    transition: all 0.5s;
}

.botao {
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15px;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 10%;
}

#home {
    margin-left: 40px;
    margin-top: 5px;
}


/*Fim header*/


/*Carrossel*/

.slider {
  margin: 0 auto;
  width: 400%;
  height: 400px;
  overflow: hidden;
  margin-top: 100px;
}

.slides {
  width: 100%;
  height: 350px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide img {
  width: 100%;
}

.manual-navigation {
  position: absolute;
  width: 980px;
  margin-top: 59px;
  display: flex;
  justify-content: center;
  margin-left: 23%;
}

.manual-btn {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  padding: 23px;
  border-radius: 10px;
}

.manual-btn:not(:last-child) {
  margin-right: 5px;
}

.manual-btn:hover {
  background-color: #171d20;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #92D1FF;
  padding: 23px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 980px;
  margin-top: 408px;
  display: flex;
  justify-content: center;
  margin-left: 23%;
}

.navigation-auto div:not(:last-child) {
  margin-right: 5px;
}


#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #92D1FF;

}


#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #92D1FF;
}


#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: #92D1FF;
}


#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: #92D1FF;
}

/*Fim carrossel*/

/*Corpo*/

.botao {
  height: 200px;
  width: 50px;
  margin-top: 10%;
  margin-left: 12%;
}

select {
  min-width: 3000%;
  height: 40px;
  background-color: #d9d9d965;
  border-radius: 2px solid rgba(5, 5, 5, 0.726);
}

#entrar {
  background-color: #92D1FF;
  border-radius: 15px;
  border: 2px;
  width: 200px;
  height: 40px;
  box-shadow: 2px 3px #466f8b;
  margin-top: 10px;
  margin-left: 600px;
}

#especialidades {
  border-radius: 10px;
}

#escolha {
  margin-left: 300px;
  margin-bottom: 30px;
}