/*Tudo*/

/*Fim tudo*/

/*Header*/
#foto2 {
    margin-left: 10%;
}

.foto {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

#foto2 {
    margin-left: 28%;
}

#foto2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#botlogo {
    margin-right: 15%;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
}

.logincerto {
    align-content: center;
}

.botoes {
    background-color: #93d0ff83;
    border-radius: 40px;
    border-color: #ffffff;
    height: 50px;
    width: 120px;
    font-family: Mate SC;
    font-size: larger;
    color: #ffffff;
    margin-bottom: 10%;
    margin-left: 5px;
}

.botoes:hover {
    background-color: #93D1FF;
    box-shadow: 5px 2px #4b93ca;
    transform: scale(1.1);
    transition: all 0.5s;
}

.botao {
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15px;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 10%;
}


/*Fim header*/

/*Corpo*/

.Centro {
    width: 100%;
    margin-top: 100px;
}

.Bloco1 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    text-align: center;
    align-content: center;
    margin-left: 20px;
}

.Bloco2 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 300px;
    margin-left: 20px;
}

.Bloco3 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 600px;
    margin-left: 20px;
}

.Bloco4 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 600px;
    margin-left: 20px;
}

.Bloco5 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 800px;
    margin-left: 20px;
}

#Quadrado2 {
    padding: 0px 50px;
}

.Bloco6 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
}

.Bloco7 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 300px;
    margin-left: 20px;
}

.Bloco8 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 600px;
    margin-left: 20px;
}

.Bloco9 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 600px;
    margin-left: 20px;
}

.Bloco10 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 800px;
    margin-left: 20px;
}

.Bloco11 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 800px;
    margin-left: 20px;
}

.Bloco12 {
    background-color: #7BC8FF;
    border-radius: 15px 15px 15px 15px;
    width: 550px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    right: 800px;
    margin-left: 20px;
}

.Bloco1:hover {
    transform: scale(1.1);
    transition: all 0.5s;

}

.Bloco2:hover {
    transform: scale(1.1);
    transition: all 0.5s;

}

.Bloco3:hover {
    transform: scale(1.1);
    transition: all 0.5s;

}

.Bloco4:hover {
    transform: scale(1.1);
    transition: all 0.5s;

}

.Bloco5:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.Bloco6:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.Bloco7:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.Bloco8:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.Bloco9:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.Bloco10:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.Bloco11:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.Bloco12:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.texto {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    position: relative;
}

.quadradao {
    display: flex;
}

.container {
    background-color: rgb(255, 255, 255);
}

/*Fim corpo*/