/*Tudo*/

main {
    height: 800px;
}

/*Fim tudo*/

/*Header*/

#foto2 {
    margin-left: 10%;
}

.foto {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

#foto2 {
    margin-left: 28%;
}

#foto2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#botlogo {
    margin-right: 15%;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
}

.logincerto {
    align-content: center;
}

.botoes {
    background-color: #93d0ff83;
    border-radius: 40px;
    border-color: #ffffff;
    height: 50px;
    width: 120px;
    font-family: Mate SC;
    font-size: larger;
    margin-bottom: 10%;
    margin-left: 5px;
}

.botoes:hover {
    background-color: #93D1FF;
    box-shadow: 5px 2px #4b93ca;
    transform: scale(1.1);
    transition: all 0.5s;
}

.botao {
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15px;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 10%;
}

/*Fim header*/

/*Corpo*/
main {
    margin-top: 100px;
    background-color: #93D1FF;
    height: 140px;

}

#planos{
    color: #ffffff;
   margin-left: 570px;
   font-size: 100px;
   margin-top: 100px;
}
 
#plan1{
    margin-top: 80px;
}
#plan1:hover{
    transform: scale(0.9);
    transition: all 1.0s;
}

.titu1{
    color: #93D1FF;
    font-size: 90px;
    margin-left: 800px;
    margin-top: -460px;
    font-weight: 700;
}

.text1{
    color: #93D1FF;
    font-size: 50px;
    margin-left: 800px;
    margin-top: -80px;
}

    .textt1{
        font-size: 20px;
        margin-left: 805px;
        margin-top: -50px;
    }

    .buttone{
        background-color: #93D1FF;
        border-radius: 15px;
        margin-left: 900px;
        margin-top: px;
        height: 50px;
        width: 200px;
        border: 1px solid #93D1FF;
        color: #ffffff;
        font-size: 20px;
    }

    .buttone:hover{
        transform: scale(1.1);
        transition: all 0.7s;
        background-color: #93D1FF;
        box-shadow: 5px 5px #4b93ca;
    }

/*Fim corpo*/
/*Subtela*/

.sub-tela {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
    z-index: 9999;
    /* Nível de sobreposição para aparecer acima do conteúdo principal */
    display: none;
    /* Inicialmente oculta */
}

.sub-tela-conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    width: 600px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 2px 6px #ffffff(0, 0, 0, 0.3);
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.sub-tela-titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.sub-tela-pergunta {
    font-size: 18px;
    margin-bottom: 20px;
}

.sub-tela-opcoes {
    display: flex;
    justify-content: center;
    background-color: #a09d9d;
    padding: 10px;
    border-radius: 4px;
}

.sub-tela-opcoes label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 10px;
}

.sub-tela-botoes {
    display: flex;
    justify-content: flex-end;
}

#tel {
    background-color: #eceeef;
    border: 1px solid #a8a8a9;
    width: 380px;
    height: 20px;
    border-radius: 5px;
}

#cpf{
    background-color: #eceeef;
    border: 1px solid #a8a8a9;
    width: 380px;
    height: 29px;
    border-radius: 5px;
}

#tela {
    background-color: #eceeef;
    border: 1px solid #a8a8a9;
}

.buttones {
    padding: 15px 25px;
    background-color: #fdfdfd;
    color: #0a0a0a;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
}

.buttones:hover {
    background-color: #93D1FF;
}

.texto1{
    font-size: 25px;
  
}

.assinar{
    background-color: #93D1FF;
    border-radius: 15px;

    height: 50px;
    width: 200px;
    border: 1px solid #93D1FF;
    color: #ffffff;
    font-size: 20px;
}

.assinar:hover{
    transform: scale(1.1);
    transition: all 0.7s;
    background-color: #93D1FF;
    box-shadow: 5px 5px #4b93ca;
}

/*Fim subtela*/