/*Tudo*/

main {
    height: 800px;
}

/*Fim tudo*/

/*Header*/

#foto2 {
    margin-left: 10%;
}

.foto {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

#foto2 {
    margin-left: 28%;
}

#foto2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#botlogo {
    margin-right: 15%;
}

.topico {
    padding: 0px;
    margin-bottom: 0px;
}

.logincerto {
    align-content: center;
}

.botoes {
    background-color: #93d0ff83;
    border-radius: 40px;
    border-color: #ffffff;
    height: 50px;
    width: 120px;
    font-family: Mate SC;
    font-size: larger;
    margin-bottom: 10%;
    margin-left: 5px;
}

.botoes:hover {
    background-color: #93D1FF;
    box-shadow: 5px 2px #4b93ca;
    transform: scale(1.1);
    transition: all 0.5s;
}

.botao {
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15px;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 10%;
}

/*Fim header*/

/*Corpo*/
main {
    margin-top: 100px;
}

.Bloco1 {
    border: 3px solid #93D1FF;
    border-radius: 15px 15px 15px 15px;
    width: 350px;
    height: 680px;
    text-align: center;
    margin-top: 5px;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 680px;
}

.Bloco2 {
    border: 1px solid #93D1FF;
    border-radius: 15px 15px 15px 15px;
    width: 350px;
    height: 680px;
    text-align: center;
    margin-top: 5px;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 45PX;
}

.Bloco3 {
    border: 1px solid #93D1FF;
    border-radius: 15px 15px 15px 15px;
    width: 350px;
    height: 680px;
    text-align: center;
    margin-top: 5px;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 1300PX;
}

.Blocos {
    position: absolute;
    margin-left: 78px;
}

#imagens {
    width: 240px;
    height: 170px;
}

#imagens2 {
    width: 240px;
    height: 190px;
    margin-top: -10px;
}

#imagens3 {
    width: 240px;
    height: 160px;
    margin-top: 0px;
}

#imagens:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#imagens2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#imagens3:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

/*Fim corpo*/