/*Header*/
#foto2 {
    margin-left: 10%;
  }
  
  .foto {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .topico {
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
  }
  
  #foto2 {
    margin-left: 28%;
  }
  
  #foto2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  #botlogo {
    margin-right: 15%;
  }
  
  .topico {
    padding: 0px;
    margin-bottom: 0px;
  }
  
  .logincerto {
    align-content: center;
  }
  
  .botoes {
    background-color: #93d0ff83;
    border-radius: 40px;
    border-color: #ffffff;
    height: 50px;
    width: 120px;
    font-family: Mate SC;
    font-size: larger;
    color: #ffffff;
    margin-bottom: 10%;
    margin-left: 5px;
  }
  
  .botoes:hover {
    background-color: #93D1FF;
    box-shadow: 5px 2px #4b93ca;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  .botao {
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 15px;
    align-items: center;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 10%;
  }
  

/*Fim header*/

#conheca{
    margin-left: 680px;
    margin-top: 100px;
}

#medicos{
    margin-left:  180px;
    margin-top: -300px;
}

#histitulo{
    color: #93D1FF;
    font-size: 60px;
    margin-left: 680px;
}

#p1{
    font-size: 30px;
}